body {
    margin: 0;
    padding: 0;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    color: white;
    background-image: linear-gradient(to left, rgb(40, 157, 211), rgb(46, 143, 138));

}

.nav-links{
    display: flex;
    padding-right: 40px;
}

li{
    list-style-type:none ;
    margin: 25px;
    color: white;
}

 #logo {
    padding-left: 50px; 
}

 #nav {
    width: 80%;
    height: 40px;
    background-color: rgb(236, 240, 47);
    float: right;
}

#nav ul {
    background: blueviolet;
    width: 60%;
    height: 40px;
    float: right
}

.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left, rgb(30, 129, 175), rgb(46, 143, 138));
    border-bottom-right-radius: 400px;
    padding-right: 20px;
    border-bottom-style: solid;
    border-bottom-color:grey;
    border-bottom-width:5px ;
}

.banner>img{
    
    width: 500px;
    padding-top: 40px;
    padding-left: 15px;
    padding-bottom: 40px;
}

.banner-content>h1{
    font-size: 50px;
}

.banner-content>p{
    font-size: 20px;
    padding-left: 100px;
}

.banner-content>button{
    padding: 20px 30px;
    border-radius: 20px;
    border-color: white;
    background-color: rgb(30, 129, 175);
    color: white;
    font-size: 20px;
    margin-left:170px ;
    margin-top: 10px;
}

.banner-content>button:hover{
background-color: grey;
}